nav {
    .dropdown-menu.show {
        background: none;
    }
}


form {
    .field {
        margin-bottom: 20px;
        
        input:not([type=checkbox]),
        textarea {
            width: 100%;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    nav {
        .dropdown-menu.show {
            border: none;
        }
    }
}